
<div class="website-wrapper">

    <header>
        <div class="header-logo">
            <p>CarRentalApp</p>
        </div>
        
        <div class="header-nav">
            <li class="header-nav-items"><a routerLink="/home" (click)="goAbout()" class="header-nav-items-href">O nas</a></li>
            <li class="header-nav-items"><a routerLink="/home" (click)="goCars()" class="header-nav-items-href">Flota</a></li>
            <li class="header-nav-items"><a routerLink="/home" (click)="goContact()" class="header-nav-items-href">Kontakt</a></li>
            <li class="header-nav-items"><a routerLink="/login" class="header-nav-items-href">Zaloguj się</a></li>
        </div>
    </header>
  
  </div>