<app-header></app-header>
<div class="sections-containers" id="about-container">
  <p class="section-info" id="about">About</p>
  <p class="about-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. <br>
    Nam aliquam sem et tortor. Velit laoreet id donec ultrices. <br>
    Libero id faucibus nisl tincidunt eget. Scelerisque viverra mauris in aliquam sem fringilla.<br>
    Porttitor lacus luctus accumsan tortor posuere ac ut consequat. Amet luctus venenatis lectus magna. Congue nisi
    vitae suscipit tellus. Ut ornare lectus sit amet est. <br>
    Malesuada fames ac turpis egestas sed tempus. A iaculis at erat pellentesque adipiscing commodo elit at. Sed
    elementum<br>
    tempus egestas sed sed risus pretium quam vulputate. Nec nam aliquam sem et tortor consequat id porta.
  </p>
</div>

<app-content-slider></app-content-slider>

<div class="sections-containers" id="reviews-container">
  <p class="section-info" id="reviews">Reviews</p>
  <div class="reviews-slider">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. <br>
      Nam aliquam sem et tortor. Velit laoreet id donec ultrices. <br></p>
  </div>
</div>


<div class="sections-containers">
  <p class="section-info" id="contact">Contact</p>
  <div class="contact-info-container">
    <div class="contact-info-container-item">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38045.40151921304!2d14.483687937826891!3d53.417730578354494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47aa094c706787bd%3A0xdf8e7d7e6986f9fe!2sCarFree%20%7C%20Wypo%C5%BCyczalnia%20Samochod%C3%B3w%20Szczecin%20-%20Brak%20Kaucji!5e0!3m2!1spl!2spl!4v1675338024112!5m2!1spl!2spl"
        width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="contact-info-container-item" id="contact-text">
      <h2>Open Hours: <br></h2>
      <span>Monday-Friday: 9:00 - 17:00</span><br>
      <span>Saturday-Sunday: 10:00 - 18:00</span><br><br>
      <span>Telefon: 617845240</span><br><br>
      <span>Krzysztofa Kolumba 45 Szczecin</span>
    </div>
  </div>
</div>