.login-form-container{
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-form {
    height: 70vh;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 1.5rem;
}

.l-form {
    background-color: orange;
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 45%;
    border-radius: 10rem;
    border: 0.5rem black solid;
    
}
label {
    padding: 1rem;
    font-weight: 500;
}
input {
    padding: 0.5rem;
    border: 0.5rem black solid;
    border-radius: 2rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.3rem;
}
#form-button {
    height: 30%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    align-items: center;
    background-color:brown;
    color: aliceblue;
}
#form-button:hover {
    background-color: lightgreen;
    color: black;
}
#registration {
    background-color:bisque;
}
#registration:hover {
    background-color: lightgreen;
}
#registration > a{
    font-size: 2rem;
    text-decoration: none;
    color: black;
}