<div *ngIf="isLoaded">

    <div class="sections-containers" id="slider-container">
        <p class="section-info" id="cars">Flota</p>

        <div class="slider-content">
            <span class="slider">
                <button type="button" class="slider-nav-button" (click)="sliderToLeft()">&#10094;</button>
                <img [src]="imageToDisplay.retrievedImage" width="150px" height="150px" />
                <button type="button" class="slider-nav-button" (click)="sliderToRight()">&#10095;</button>
            </span>
            <div class="slider-item-description">
                <ul>
                    <li>Brand: {{specToDisplay.brand}}</li>
                    <li>Model: {{specToDisplay.model}}</li>
                    <li>Engine Capacity: {{specToDisplay.engineCapacity.toFixed(2)}} L</li>
                    <li>Horse Power: {{specToDisplay.horsePower}}</li>
                    <li>Seats Number: {{specToDisplay.seatsNumber}}</li>
                </ul>
            </div>

            <div class="slider-button">
                <button type="submit" id="confirm-btn"><a routerLink="/calendar">Sprawdź dostępność</a></button>
            </div>
        </div>
    </div>
</div>